body 
{
      font-family: sans-serif;
      margin: 0;
      padding: 0;
      background-color: #f2f2f2;
      text-align: center;
}
header
{
      background-color: #003366;
      color: white;
      padding: 10px;
      text-align: center;
}


nav a 
{
      color: white;
      margin: 0 10px;
      text-decoration: none;
}
nav a:hover 
{
      text-decoration: underline;
}
main 
{
      padding: 20px;
      max-width: 100%;
}
.botao 
{
      position: center;
      background-color: #003366;
      color: white;
      text-decoration-color: white;
      padding: 10px;
      border: black 
      box-sizing: border-box;
      cursor:pointer;
}
footer 
{
  
      position: fixed;
      bottom: 0;
      left: 0;
      width: 100%;
      background-color: #003366;
      color: white;
      text-align: center;
      padding: 10px;
}

@media screen and (max-width: 768px) 
{
  nav a 
  {
    display: block;
    margin: 10px 0;
  }
}
